
.sections-main{
  display: flex;
  flex-direction: row;
  /* max-width: 80%; */
}
.mui-grid-width{
  /* margin: 10px; */
  /* padding: 20px; */
}

@media only screen and (max-width:600px){
  .sections-main{
    display: flex;
    flex-direction: column;
    max-width: '100%';
  }
}